body{
    background-color: hsl(13, 31%, 94%);
    margin: 0;
    padding: 0;
    font-family:"Red Hat Display", sans-serif;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    width: 70%;
}

.menu h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: hsl(14, 65%, 9%);
}

.desserts-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.img-btn{
    position: relative;
}

ul{
    list-style-type: none;
    padding-left: 0%;
}

li{
    padding-bottom: 10px;
}

ul li .photo{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.btn-addToCart{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%);

    color: hsl(14, 65%, 9%);
	background-color: hsl(20, 50%, 98%);
	font-size: 14px;
	border: 2px solid hsla(0, 0%, 56%, 0.368);
	border-radius: 40px;
    width: 160px;
    height: 45px;
	cursor: pointer;
    text-align: center;
}

.btn-addToCart:hover {
    border:2px solid hsl(14, 86%, 42%);
}

li .descricao{
    padding-top: 15px;
}

li .descricao h5{
    color: hsla(14, 65%, 9%, 0.475);
    
}

li h4{
    color: hsl(14, 65%, 9%);
    margin-top: -20px;
}

li p{
    color: hsl(14, 86%, 42%);
    margin-top: -20px;
}


/*carrinho*/
.cart {
    width: 30%;
    background-color: hsl(20, 50%, 98%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.cart h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: hsl(14, 86%, 42%);
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart ul li {
    margin-bottom: 10px;
}

.cart ul li span{
    color: hsla(0, 0%, 0%, 0.392);
}

.cart ul li span b{
    color: hsl(14, 86%, 42%);
}

.cart p {
    font-size: 1.2rem;
    font-weight: bold;
}

.confirm-order {
    width: 100%;
    padding: 10px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

.confirm-order:hover {
    background-color: #d45d42;
}
