body{
    background-color: hsl(13, 31%, 94%);
    margin: 0;
    padding: 0;
    font-family:"Red Hat Display", sans-serif;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    width: 70%;
}

.menu h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: hsl(14, 65%, 9%);
}
/*
.desserts-grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    gap: 30px;
}*/

.card{
    width: 250px;
    height: auto;
}

.img-btn{
    position: relative;
}

ul{
    list-style-type: none;
    padding-left: 0%;
}

li{
    padding-bottom: 10px;
}

ul li .photo{
    width: 100%;
    height: auto;
    border-radius: 8px;
    border:none;
}

.btn-addToCart{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%);

    color: hsl(14, 65%, 9%);
	background-color: hsl(20, 50%, 98%);
	font-size: 14px;
	border: 2px solid hsla(0, 0%, 56%, 0.368);
	border-radius: 40px;
    width: 160px;
    height: 45px;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.btn-addToCart:hover {
    border:2px solid hsl(14, 86%, 42%);
}

.img-btn-add img.menos{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 4px;
    height: 10px;
    width: 10px;
}

.img-btn-add img.mais{
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 4px;
}

.img-btn-add b{
    margin-left: 30px;
    margin-right: 30px;
}

.img-btn-add{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%);

    color: hsl(20, 50%, 98%);
	background-color: hsl(14, 86%, 42%);
	font-size: 14px;
    border:2px solid hsl(14, 86%, 42%);
	border-radius: 40px;
    /*width: 160px;
    height: 45px;*/
	cursor: pointer;
    display: none;
}

.img-btn-add.abrirQuantidade{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 160px;
    height: 45px;
}

.img-btn-add.abrirQuantidade ~ .photo{
    border:3px solid hsl(14, 86%, 42%);
}

li .descricao{
    padding-top: 15px;
}

li .descricao h5{
    color: hsla(14, 65%, 9%, 0.475);
    
}

li h4{
    color: hsl(14, 65%, 9%);
    margin-top: -20px;
}

li .descricao p{
    color: hsl(14, 86%, 42%);
    margin-top: -20px;
}


/*carrinho*/
.cart {
    width: 30%;
    height: min-content;
    background-color: hsl(20, 50%, 98%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.cart h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: hsl(14, 86%, 42%);
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart ul li {
    margin-bottom: 10px;
}

.alinhamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart ul li .preco{
    margin-left: -150px;
}

.cart ul li .preco span{
    margin-right: 5px;
}

.cart ul li span{
    color: hsla(0, 0%, 0%, 0.392);
}

.cart ul li span b{
    color: hsl(14, 86%, 42%);
}

.cart .alinhamento .total{
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(14, 65%, 9%);
}

.cart ul li button{
    background-color: rgba(255, 228, 196, 0);
    border: none;
}

.cart ul li img{
    border: 1px solid hsla(0, 0%, 56%, 0.368);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 2.5px;
    cursor: pointer;
}

.confirm-order {
    width: 100%;
    padding: 15px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

.confirm-order:hover {
    background-color: #d45d42;
}

#ulList{
    width: 100%;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}